<form>
  <label>
    Person:
    {{ input class='spec-name-input' value=grudge.name }}
  </label>
  <label>
    Wrongs:
    {{ textarea class='spec-wrongs-input' value=grudge.wrongs }}
  </label>
  <button type="button" class="spec-submit-grudge">Submit</button>
  {{yeild}}
</form>
