<form class='form'>
  <label class='name-label'>
    Person:
    {{input class='spec-name-input name-input' value=grudge.name}}
  </label>
  <label class='name-label'>
    Wrongs:
    {{textarea class='spec-wrongs-input wrongs-input' value=grudge.wrongs}}
  </label>
  <label class='name-label'>
    Forgiven:
    {{input type='checkbox' class='spec-forgiven-input forgiven-input' checked=grudge.forgiven}}
  </label>
  <button type="submit" class="spec-submit-grudge submit-grudge">Submit</button>
  {{yeild}}
</form>
