<section class='grudge'>
  <h1 class='spec-grudge-name grudge-name'>Name: {{model.name}}</h1>
  <p class='grudge-wrongs'>Wrongs: {{model.wrongs}}</p>
  <p class='grudge-forgiven'>Forgiven: {{model.forgiven}}</p>
  {{#link-to 'grudges.edit' model class='spec-edit-grudge-button' tagName='button'}}
    Edit
  {{/link-to}}
</section>
{{outlet}}
