<section>
  {{#each model as |grudge|}}
    <article>
      {{#link-to 'grudges.grudge' grudge class='spec-grudge-item'}}
        {{grudge.name}}
      {{/link-to}}
    </article>
  {{/each}}
</section>
{{#link-to 'grudges.new' class='spec-add-new-grudge' tagName='button'}}
  Add new grudge
{{/link-to}}
{{outlet}}
